lego-digital-designer-4-3-12.exe filter=lfs diff=lfs merge=lfs -text
Studio+2.0.exe filter=lfs diff=lfs merge=lfs -text
LMS-EV3_Full-setup_1.4.5_en-US_WIN32.exe filter=lfs diff=lfs merge=lfs -text
EV3_Classroom_Windows_1.5.3_Global.msi filter=lfs diff=lfs merge=lfs -text
